<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">  
    <link rel="preconectar" href="https://fonts.googleapis.com">
    <link rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
    <link rel="https: //fonts.googleapis.com/css2? family= Roboto & display=swap" rel="hoja de estilo">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />      
    <title>Mercado liebre</title>
</head>
<body>
    <header>
        <div class="header-superior">
                <img class="logo" src="/img/logo-mercado-liebre.svg" alt="">
            <div class="busqueda">        
                <input class="input" type="text" placeholder="Buscar productos, Marcas..." id="inputheader" action="/" method="get">  
                <div class="icono-buscador"><i class="fa fa-search"></i></div>
            </div>            
            <p class="texto-formadepago"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Oferta</a>
                </li>
                <li>
                    <a href="#">Tienda oficiales</a>
                </li>
                <li>
                    <a href="#">Vender </a>
                </li>
                <li>
                    <a href="#">Ayuda </a>
                </li>                
            </ul>
            <ul>
                <li>
                    <a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
                       
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    <main>
        <form class ="log-form"action="/" method="get">
            <div class="log-usuario">
                <label for="nombreUsuario"></label>
                <input type="text" name="emailUsuario" id="nombreUsuario" placeholder="Nombre de usuario">
            </div>            
            <div class="log-pw">
                <label for="contraseña"></label>
                <input type="password" name="password" id="contraseña" placeholder="contraseña">
            </div>            
            <div class="log-enviar">
                <button type="submit">enviar</button>
            </div>
            
        </form>
    </main>
    <footer class="main-footer">
        <section>
            <i class="fas fa-credit-card"></i>
            <h4>Paga con tarjeta o en efectivo</h4>
            <P>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</P>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>            
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>      
    </footer>
</body>
</html>