<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconectar" href="https://fonts.googleapis.com">
    <link rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
    <link rel="https: //fonts.googleapis.com/css2? family= Roboto & display=swap" rel="hoja de estilo">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado liebre</title>
</head>

<body>
    <header>
        <div class="header-superior">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="">
            <form  class="busqueda" action="/" method="get">
                <div class="busqueda">        
                    <input class="input" type="text" placeholder="Buscar productos, Marcas..." id="inputheader">  
                    <div class="icono-buscador"><i class="fa fa-search"></i></div>
                </div>
                </form>  
            <p class="texto-formadepago"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de
                credito</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Oferta</a>
                </li>
                <li>
                    <a href="#">Tienda oficiales</a>
                </li>
                <li>
                    <a href="#">Vender </a>
                </li>
                <li>
                    <a href="#">Ayuda </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>

            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form class="reg-form" action="/" method="get">
            <div class="reg-nombre">
                <label for="nombreApellido"></label>
                <input type="text" name="nombre" id="nombreApellido" placeholder="Nombre y apellido" action="/" method="get">
            </div>
            <div class="reg-usuario">
                <label for="nombreUsuario"></label>
                <input type="text" name="emailUsuario" id="nombreUsuario" placeholder="Nombre de usuario">
            </div>
            <div class="reg-email">
                <label for="emailUsuario"></label>
                <input type="email" name="emailUsuario" id="emailUsuario" placeholder="e-mail">
            </div>

            <div class="reg-fecha">
                <h4>Fecha de nacimiento</h4>
                <label for="fecha"></label>
                <input type="date" name="nacimiento" id="fecha" placeholder="Fecha de nacimiento">
            </div>
            <div class="reg-domicilio">
                <label ford="domicilio"></label>
                <input type="text" name="direccion" id="domicilio" placeholder="domicilo ">
            </div>
            <div class="reg-perfil">
                <h4>Perfil del usuario</h4>
                <label for="comprador">comprador</label>
                <input type="radio" name="Perfil" id="comprador" value="comprador">
                <label for="vendedor">vendedor</label>
                <input type="radio" name="Perfil" id="vendedor" value="vendedor">
            </div>
            <div class="reg-categorías">
                <h4>Categorías de interés</h4>
                <div>
                    <label for="electro">Electro</label>
                    <input type="checkbox" name="interes" id="electro" value="electro">
                </div>
                <div>
                    <label for="moda">moda</label>
                    <input type="checkbox" name="interes" id="moda" value="moda">
                </div>
                <div>
                    <label for="hogar">hogar</label>
                    <input type="checkbox" name="interes" id="hogar" value="hodgar">
                </div>
                <div>
                    <label for="jugueteria">jugueteria</label>
                    <input type="checkbox" name="interes" id="jugueteria" value="jugueteria">
                </div>
                <div>
                    <label for="vida sana">vida sana</label>
                    <input type="checkbox" name="interes" id="vida sana" value="vida sana">
                </div>
            </div>
            <div class="reg-foto">
                <h4>Añadir foto de Perfil</h4>
                <label for="foto"></label>
                <input type="file" name="foto" id="foto">
            </div>
            <div class="reg-pw">
                <label for="contraseña">Contraseña</label>
                <input type="password" name="password" id="contraseña">
            </div>
            <div class="reg-confir">
                <label for="Confirmar-contraseña">Confirmar contraseña</label>
                <input type="password" name="Confirmar" id="Confirmar-contraseña">
            </div>
            <div class="reg-botones">
                <div class="reg-enviar">
                    <button type="submit">enviar</button>
                </div>
                <div class="reg-borrar">
                    <button type="reset">borrar</button>
                </div>
            </div>
        </form>

    </main>
    <footer class="main-footer">
        <section>
            <i class="fas fa-credit-card"></i>
            <h4>Paga con tarjeta o en efectivo</h4>
            <P>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</P>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>