.log-form{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;    
}

.log-enviar{
    width: 100%;
    text-align: center;
    padding: 20px;
}
.log-enviar button{
    width: 15%;
    padding: 10px;
    background-color: var(--celeste);
    color: #fff;
    transition: all 0.3s;    
}
.log-enviar button:hover{
    background-color: #0022AA;
}
.log-usuario{
        text-align: center;
        width: 100%;
        padding: 20px;
}
.log-pw{
    text-align: center;
    width: 100%;
    padding: 20px;
}
.log-form div input{
        padding: 10px;
        width: 12%;        
}

